* {
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 600px;
    margin: auto;
}

header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.add-cash {
    text-decoration: none;
    line-height: 1;
    font-size: 12px;
    gap: 5px;
    color: #000;
}

.header-menu li {
    margin-bottom: 4px;
}

.header-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.header-menu li a:hover {
    background-color: #02002f12;
}

span.menu-icon {
    font-size: 14px;
    background-color: #02002f;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    height: 34px;
    width: 34px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

#headerMenu {
    max-width: 300px;
}
.add-money-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.add-money-card {
    transition: all 0.3s;
    border: 1px solid #f8f9fa;
    position: relative;
    cursor: pointer;
}
.add_money[name='add_money'] { display: none; }
.add-money-card:has(.add_money[name='add_money']:checked) {
    border: 1px solid #02002f;
}
.add-money-card .bi-check-circle-fill {
    color: #02002f;
    position: absolute;
    top: 6px;
    right: 10px;
    opacity: 0;
    visibility: hidden;
}
.add_money[name='add_money']:checked + .bi-check-circle-fill {
    opacity: 1;
    visibility: visible;
}